{% extends 'base.html' %}
{% block contant %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{% if product_list %}Edit {% else %} ADD{% endif %} Product</h1>
    </div>
    <div class="row">

        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{% if product_list %}Edit {% else %} ADD{% endif %}</h6>
                </div>
                <!-- contant -->
                <div class="d-flex p-2">
                    <form method="post">
                        {% csrf_token %}
                        {{ product.as_p }}
                        <input type="submit" value="ADD" class="btn btn-primary">
                    </form>
                </div>


            </div>
        </div>
    </div>

{% endblock %}
